<h1>new messages</h1>

<%= form_with(model: [ @message.room, @message ]) do |form| %>
  <div class="field">
    <%= form.text_field :content %>
    <%= form.submit "send" %>
  </div>
<% end %>

<%= link_to 'back', @message.room %>